@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Delius+Swash+Caps);


h1{
  font-weight: normal;
  font-family: "Delius Swash Caps", sans-serif;
  font-style: italic;
  color: aquamarine;
  word-spacing: 500px;
}

body{
  font-family: "Anton",serif;
  font-size: 12px;
  font-weight: 300;
  background-color: #807C15;
  color: #804B15;
  text-decoration: overline;
}

strong{
  font-size: 50px;
  float: right;
  border-left: solid 5px #9775AA;
  line-height: 100px;
}

#Section1 {
    width: 48%;
    padding-right: 0px;
    box-sizing: border-box;
    float: left;
    margin: 2px;
    letter-spacing: 5px;
  }
